.SiteFooter {
  position: relative;
  padding: 20px 4vw 60px 4vw;
  // padding: 0 4vw;
  // padding-top: 20px;
  // padding-bottom: 60px;
  color: #fff;
  background: lighten(black, 0.15%);
}

.SiteFooterContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.3rem;
  a {
    color: rgba(255, 255, 255, 0.7);
  }
  a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
  }
  @media (max-width: 650px) {
    flex-direction: column;
  }
}

SiteFooterNav {
  display: flex;

  a {
    position: relative;
    margin-left: 20px;
  }

  a:before {
    content: '';
    position: absolute;
    top: 11px;
    left: -11px;
    display: block;
    width: 2px;
    height: 2px;
    background: #fff;
    border-radius: 100%;
  }

  a:first-of-type:before {
    display: none;
  }
  @media (max-width: 650px) {
    // a:first-child
    a:first-of-type {
      margin-left: 0;
    }
  }
}