@import '../styles/colors';

.nav {
  padding: 0 4vw 4vh;
  background: #fff;
  text-align: center;
  div {
    display: inline-block;
  }

  a {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell;
    background: #fff;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
    box-shadow: rgba(39, 44, 49, 0.06) 8px 14px 38px, rgba(39, 44, 49, 0.03) 1px 3px 8px;
    border-radius: 6px;
    margin-bottom: 5px;
    min-width: 50px;

    &.active {
      -webkit-box-shadow:inset 3px 0px 0px 0px darken(#15171A, 0.25);
      -moz-box-shadow:inset 3px 0px 0px 0px darken(#15171A, 0.25);
      box-shadow:inset 3px 0px 0px 0px darken(#15171A, 0.25);
    }

    &:hover:not(.active) {
      background-color: #ddd;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .ellipsis {
    padding: 8px;
    min-width: 40px;

    @media (max-width: 550px) {
      min-width: 30px;
    }

    @media (max-width: 400px) {
      display: none;
    }
  }

  .previous,
  .next {
    @media (max-width: 550px) {
      display: none;
    }
  }
}


