.PostFullFooterRightDiv {
  flex-shrink: 0;
  margin-left: 20px;
}

.AuthorCardButton {
  display: block;
  padding: 9px 16px;
  /* border: color(var(--midgrey) l(+20%)) 1px solid; */
  border: lighten(#647a83, 0.2) 1px solid;
  color: #647a83;
  font-size: 1.2rem;
  line-height: 1;
  font-weight: 500;
  border-radius: 20px;
  transition: all ease 0.2s;

  &:hover {
    border-color: #0f7dba;
    color: #0f7dba;
    text-decoration: none;
  }
}